<!DOCTYPE html>
<html>
    <head>
        <title>{% block meta_title %}{name}{% endblock %}</title>
        {{ css(ctx) }}
        {{ js(ctx) }}
    </head>
    <body>
        {%- block main %}
            <main role="main">
                {%- block content -%}{%- endblock -%}
            </main>
        {% endblock -%}
        {%- block footer %}
            <footer class="footer">
            </footer>
        {% endblock -%}
    </body>
</html>
